doctype
html
    head
        title example
        link(rel="stylesheet" href="styles.css")

    body
        // ===============================================
        // Start
        .container
            each e in ["1", "2", "3", "4", "5", "6"]
                .element= e
        // END
        // ===============================================

        script(src="script.js")

