doctype
html
    head
        title example
        link(rel="stylesheet" href="styles.css")

    body
        // ===============================================
        // Start
        header.header
            nav.nav#nav
        // END
        // ===============================================

        script(src="script.js")

