doctype
html
    head
        title example
        link(rel="stylesheet" href="styles.css")

    body
        // ===============================================
        // Start
        .container
            img(src="../../static/images/flowers.png").card__poster
            p#card.card__text.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nisi necessitatibus distinctio numquam, pariatur incidunt quas voluptatum, reprehenderit expedita illum atque laboriosam natus amet suscipit dolorem aliquid, quod aut nam!
        // END
        // ===============================================

        script(src="script.js")

